.card-it{
    background-color: #ffff;
    align-items: center !important;
    align-content: center !important;

    &__cad{
        //display: flex;
        align-items: center !important;
        align-content: center !important;
        text-align: center !important;
        padding-top: 10px;
        //flex-direction: column;
        width: 100%;
    }
}