.card-it{
    background-color: #ffff;
    
    align-items: center !important;
    align-content: center !important;

    &__cad{
        align-items: center !important;
        align-content: center !important;
        text-align: center !important;
        width: 40%;
    }
}